<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.club.mapper.TechnicianMapper">
<insert id="insert" parameterType="com.club.model.Technician">
 insert into technician
				<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="grade !=0 ">
						grade,
				</if>
				<if test="userId !=0 ">
						user_id,
				</if>
				</trim>
				<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="grade !=0 ">
						#{grade},
				</if>
				<if test="userId !=0 ">
						#{userId},
				</if>
				</trim>
</insert>
		<update id="updateByUserId" parameterType="com.club.model.Technician">
				UPDATE technician
				<trim prefix="set" suffixOverrides=",">
						<if test="grade !=0 ">grade=#{grade},</if>
						<if test="spaCharge !=null and spaCharge !='' ">spa_charge=#{spaCharge},</if>
						<if test="massCharge !=null and massCharge !='' ">mass_charge=#{massCharge},</if>
						<if test="cupCharge !=null and cupCharge !='' ">cup_charge=#{cupCharge},</if>
						<if test="technicianStatus !=0 ">status=#{technicianStatus},</if>
				</trim>
				WHERE user_id=#{userId}
		</update>
		<select id="getTechnicianByGrade" resultType="com.club.model.TechnicianDetailRes">
				SELECT
				technician.id,
				NAME,
				mobile,
				charge
				FROM
				technician
				LEFT JOIN
				`user` ON `user`.id = technician.user_id
				WHERE
				technician. STATUS = 4 AND `user`.`status` = '1'
				AND grade = #{grade}
		</select>
		<select id="getTechnician" resultType="com.club.model.TechnicianDetailRes">
				SELECT
				technician.id,
				NAME,
				mobile,
				charge
				FROM
				technician
				LEFT JOIN `user` ON `user`.id = technician.user_id
				WHERE
				technician. STATUS = 4
				AND `user`.`status` = '1'
				AND grade = #{grade}
				AND technician.id NOT in (
				SELECT technician_id FROM
				t_order
				WHERE
				order_status = 1
				)
		</select>
		<select id="getTechnicianHasAppointment" resultType="com.club.model.Appointment">
				SELECT
				id,
				technician_id as technicianId,
				room_id as roomId,
				DATE_FORMAT(
				start_time,
				'%Y-%m-%d %H:%i:%s'
				) AS startTime,
				DATE_FORMAT(
				end_time,
				'%Y-%m-%d %H:%i:%s'
				) AS endTime,
				`status`
				FROM
				t_appointment
				WHERE
				`status` =1
				<if test="roomId !=0 ">
						AND room_id = #{roomId}
				</if>
				<if test="technicianId !=0 ">
						AND technician_id = #{technicianId}
				</if>
				ORDER BY start_time
		</select>
</mapper>